body {
    background: #ffbe18;
}

.countdown {
    display: grid;
    margin: 1em auto;
    width: 20em;
    height: 20em;
}

.countdown::after {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    font: 5em/2 ubuntu mono, consolas, monaco, monospace;
    animation: num 5s steps(1) infinite;
    content: "0:" counter(s, decimal-leading-zero);
}

@keyframes num {
    0% {
        counter-reset: s 5;
    }
    20% {
        counter-reset: s 4;
    }
    40% {
        counter-reset: s 3;
    }
    60% {
        counter-reset: s 2;
    }
    80% {
        counter-reset: s 1;
    }
    100% {
        counter-reset: s 0;
    }
}

svg {
    grid-column: 1;
    grid-row: 1;
}

[r] {
    fill: none;
    stroke: silver;
}

[r]+[r] {
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke: #000;
    animation: arc 5s linear infinite;
    animation-name: arc, col;
}

@keyframes arc {
    0% {
        stroke-dashoffset: 0px;
    }
}